.c-stat-card {
    line-height: 1.5;
    position: relative;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .04);
    padding: 15px;

    &__title {
        font-size: 12px;
        text-transform: uppercase;
        opacity: .7;
        color: $color-text-regular;
    }

    &__value {
        font-size: 36px;
        color: $color-text-primary;
    }

    &__description {
        font-size: 12px;
        text-transform: uppercase;
        color: $color-text-secondary;
        border-top: 1px solid rgba(0, 0, 0, .12);
    }
}