.c-table-panel {
    &__search {
        padding: 5px 10px;

        .el-input__inner {
            line-height: 26px !important;
            height: 28px !important;
            border: 1px solid #dcdfe6 !important;
            box-shadow: none !important;
        }
    }

    .el-pagination {
        padding: 5px;
        text-align: center;

        &__sizes {
            margin-right: -135px;
        }

        .el-select {
            .el-input {
                width: 135px;

                &__inner {
                    height: 28px !important;
                }
            }
        }
    }
}
