$color-primary: #2675d7 !default;
$color-success: #67c23a !default;
$color-warning: #e6a23c !default;
$color-danger: #f56c6c !default;
$color-info: #909399 !default;

$color-text-primary: #333 !default;
$color-text-regular: #535c69 !default;
$color-text-secondary: #a3a9b1 !default;

$color-link-default: $color-primary !default;

$color-bg-gray: #fafafa !default;